<div class="container">
	<nav>
		<a [routerLink]="['/']" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
		<a [routerLink]="['/shop']" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Shop</a>
		<a [routerLink]="['/shipping']" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Shipping</a>
		<a [routerLink]="['/about-us']" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">About us</a>
		<a [routerLink]="['/contact-us']" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Contact us</a>
		<a [routerLink]="['/cart']" class="cart-btn ml-auto">
			<i class="material-icons">shopping_cart</i>
		</a>
	</nav>
</div>