<h2 class="text-center">Cart</h2>

<ul class="list-group list-group-flush">
	<li class="list-group-item cart-item" *ngFor="let item of items">
		<span>{{ item.name }}</span>
		<span>{{ item.price | currency }}</span>
	</li>
</ul>
<form [formGroup]="checkoutForm" novalidate (ngSubmit)="onSubmit(checkoutForm.value)">
	<div class="form-row">
		<div class="form-group col-lg-6">
			<label for="firstName">First name <span class="required-field" title="required">*</span></label>
			<input type="text" formControlName="firstName" name="firstName" id="firstName" class="form-control" placeholder="First name" aria-describedby="firstNameHelpBlock" minlength="2" required>
			<small id="firstNameHelpBlock" class="form-text text-muted">Your first name must be at least 2 characters long. Required field.</small>
			<div class="alert alert-danger" *ngIf="checkoutForm.controls['firstName'].invalid && checkoutForm.controls['firstName'].touched">Не указано имя</div>
		</div>
		<div class="form-group col-lg-6">
			<label for="lastName">Last name <span class="required-field" title="required">*</span></label>
			<input type="text" formControlName="lastName" name="lastName" id="lastName" class="form-control" placeholder="Last name" aria-describedby="lastNameHelpBlock" minlength="2" required>
			<small id="lastNameHelpBlock" class="form-text text-muted">Your last name must be at least 2 characters long. Required field.</small>
		</div>
		<div class="form-group col-lg-6">
			<label for="phone">Phone <span class="required-field" title="required">*</span></label>
			<input type="text" formControlName="phone" name="phone" id="phone" class="form-control" placeholder="Phone" aria-describedby="phoneHelpBlock" minlength="10" maxlength="20" required>
			<small id="phoneHelpBlock" class="form-text text-muted">Your phone must be 10-20 characters long. Required field.</small>
		</div>
		<div class="form-group col-lg-6">
			<label for="email">Email <span class="required-field" title="required">*</span></label>
			<input type="email" formControlName="email" name="email" id="email" class="form-control" placeholder="Email" aria-describedby="emailHelpBlock" minlength="3" required>
			<small id="emailHelpBlock" class="form-text text-muted">Your email must be at least 3 characters long. Required field.</small>
		</div>
		<div class="form-group col-lg-6">
			<label for="address">Address <span class="required-field" title="required">*</span></label>
			<input type="text" formControlName="address" name="address" id="address" class="form-control" placeholder="Address" aria-describedby="addressHelpBlock" minlength="3" required>
			<small id="addressHelpBlock" class="form-text text-muted">Your address must be at least 3 characters long. Required field.</small>
		</div>
		<div class="form-group col-lg-12">
			<label for="additionalInfo">Additional info</label>
			<textarea formControlName="additionalInfo" name="additionalInfo" id="additionalInfo" class="form-control" placeholder="Additional info" cols="10" rows="5" aria-describedby="additionalInfoHelpBlock"></textarea>
			<small id="additionalInfoHelpBlock" class="form-text text-muted">Optional field.</small>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col">
			<button class="button" type="submit">Submit</button>
		</div>
	</div>
</form>