.card-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 40px 0px 0px;
}

.card-list .card-wrapper {
	position: relative;
	flex: 0 0 33%;
	width: 100%;
	max-width: 33%;
    padding: 0px;
	margin: 0px 0px 30px;
}

.card-list .card-wrapper .card {
	margin: 0px auto;
	height: 100%;
	border-radius: 10px;
	max-width: 340px;
}

.card-list .card-wrapper .card:hover {
	cursor: pointer;
}

.card-list .card-wrapper .card img {
	height: 220px;
	display: block;
	margin: 25px auto 0px;
}

.card-list .card-wrapper .card .card-body .product-title {
	padding-bottom: 10px;
}

.card-list .card-wrapper .card .card-body .product-price {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0px 0px 15px;
	color: #0e2f4b;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
}

.card-list .card-wrapper .card .card-body .product-price .main-info {
	padding: 0px;
}

.card-list .card-wrapper .card .card-body .product-price .main-info .price-value {
	color: #7cafea;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	display: inline-block;
}

.card-list .card-wrapper .card .card-body .product-price .main-info .low-price {
	color: #f95050;
}

.btn-sort {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 0px 15px;
}